@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Montserrat, Serif;
}

.animated-background {
    background-size: 400%;
    -webkit-animation: animation 1.5s ease infinite;
    -moz-animation: animation 1.5s ease infinite;
    animation: animation 1.5s ease infinite;
}

@keyframes animation {
    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.shimmer-background {
    -webkit-animation: shimmer-animation 1.5s ease-in-out infinite alternate;
    -moz-animation: shimmer-animation 1.5s ease-in-out infinite alternate;
    animation: shimmer-animation 1.5s ease-in-out infinite alternate;
}

@keyframes shimmer-animation {
    0%, 100% {
        background-color: rgba(229, 231, 235, 100%);
    }
    50% {
        background-color: rgba(229, 231, 235, 50%);
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -webkit-overflow-style: none;  /* IE and Edge */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}